{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<div class="employee-account">
    <article{{ attributes.addClass('profile') }}>
        {% if content %}
            <div class="employee-top">
                <div class="row justify-content-start">
                    <div class="col-3 employee-picture">
                        {{ content.user_picture }}
                    </div>
                    <div class="col-6 employee-personal">
                        <h1>
                            <span>{{ content.field_employee_first_name }}</span>
                            <span>{{ content.field_employee_middle_name }}</span>
                            <span>{{ content.field_employee_last_name }}</span>
                        </h1>
                        {{ content.field_position }}
                    </div>
                </div>
            </div>
            <div class="employee-center">
                {% if content.field_employee_phone_mobile|render %}
                    <div class="employee_child employee-phone">
                        <i class="bi bi-telephone"></i>
                        <span>
                            <a href="tel:{{ content.field_employee_phone_mobile.value }}">{{ content.field_employee_phone_mobile }}</a>
                        </span>
                        <span>
                        <a class="whatsapp" target="_blank" aria-label="Chat on WhatsApp" href="https://wa.me/{{ content.field_employee_phone_mobile.value }}"> <img alt="Chat on WhatsApp" src="{{ file_url('themes/custom/ohmatdyt/images/whatsapp.svg') }}"/></a>
                        </span>
                    </div>
                {% endif %}
                {% if content.field_employee_phone_working|render %}
                    <div class="employee_child employee-phone">
                        <i class="bi bi-telephone"></i>
                        <span>
                            <a href="tel:{{ content.field_employee_phone_working.value }}">{{ content.field_employee_phone_working }}</a>
                        </span>
                        <span>
                        <a class="whatsapp" target="_blank" aria-label="Chat on WhatsApp" href="https://wa.me/{{ content.field_employee_phone_working.value }}"> <img alt="Chat on WhatsApp" src="{{ file_url('themes/custom/ohmatdyt/images/whatsapp.svg') }}"/></a>
                        </span>
                    </div>
                {% endif %}
                {% if content.field_room|render %}
                    <div class="employee_child employee-phone">
                        <i class="bi bi-geo-alt"></i>
                        {{ content.field_room }}
                    </div>
                {% endif %}
                {% if content.field_email|render %}
                    <div class="employee_child employee-email">
                        <i class="bi bi-envelope"></i>
                        {{ content.field_email }}
                    </div>
                {% endif %}
            </div>
            {% if content.field_education|render is not empty or
                content.field_employee_education_level|render is not empty or
                content.field_employee_range_science|render is not empty or
                content.field_employee_rank|render is not empty or
                content.field_current_specialisation|render is not empty or
                content.field_experience|render is not empty %}
                <div class="employee-educations">
                    <div class="_title">
                       <span>
                            <i class="bi-award"></i>
                           {{ 'Освiта'|t }}</span></div>
                    <div class="_content">
                        <div class="employee_child">
                            {{ content.field_education }}
                        </div>
                        <div class="employee_child">
                            {{ content.field_employee_education_level }}
                        </div>
                        <div class="employee_child">
                            {{ content.field_employee_range_science }}
                        </div>
                        <div class="employee_child">
                            {{ content.field_employee_rank }}
                        </div>
                        <div class="employee_child">
                            {{ content.field_current_specialisation }}
                        </div>
                        <div class="employee_child">
                            {{ content.field_experience }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if content.field_publications|render %}
                <div class="employee-educations _publications">
                    <div class="_title">
                        <span><i class="bi-book"></i>{{ 'Публикації'|t }}</span>
                    </div>
                    <div class="_content">
                        {{ content.field_publications }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </article>
</div>

