{%
    set classes = [
    'calendar-view-day',
    empty ? 'empty',
    rows ? 'not-empty',
]
%}

<div{{ attributes.addClass(classes) }}>
    {% set html_date = timestamp|format_date('custom', 'd-m-y', 'Europe/Kiev') %}
    {% set count = not rows ? 0 : rows|length %}
    {% set day_title %}
        {% trans %}
            {{ count }} подія вiдбудеться {{ html_date }}
        {% plural count %}
            {{ count }} події вiдбудеться {{ html_date }}
        {% endtrans %}
    {% endset %}

    {# The day #}
    {% block day_number %}
        <time class="calendar-view-day__number" datetime="{{ timestamp|date('Y-m-d\TH:i:s') }}" title="{{ day_title|trim }}">
            {{ timestamp|date('j') }}
        </time>
    {% endblock %}

    {% block day_content %}
        {% if empty %}
            {# Empty #}
            <div class="calendar-view-day__rows empty"></div>
        {% else %}
            {# Events #}
            <div class="calendar-view-day-wrapper-single">
                <ul class="calendar-view-day__rows">
                    {% for row in rows %}
                        {% set row_classes = [default_row_class ? 'views-row'] %}
                        {% set node_id = row.content['#row']._entity.get('nid').value %}
                        {% set node_url = path('entity.node.canonical', {'node': node_id}) %}
                        <a href="{{ node_url }}">
                        <li{{ row.attributes.addClass(row_classes, 'calendar-view-day__row') }}>
                                {{- row.content -}}
                        </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}
</div>
